<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="username" type="text" label="Crunchyroll ID or Email" />
    <setting id="password" type="text" option="hidden" label="Password" />
    <setting id="session_id" type="text" label="Session ID" />
    <setting id="debug" type="bool" label="Debug" default="false" />
    <setting type="sep"/>
</settings>
